.carousel-inner { 
    padding: 10px;
}   
.container {
    max-width: 2599px;
    text-align: center;
}
.container {
    max-width: 2599px;
    text-align: center;
}
.list-group {
    text-align: left;
}

          